<h3>{{title}}</h3>
<form [formGroup]="formBook">
  <label>ID:
    <input type="number" placeholder="Zadajte ID" formControlName="id_user"/>
  </label>
  <label>
    Autor:
    <input type="text" placeholder="Zadajte meno autora" formControlName="name"/>
  </label>
  <label>
    Názov knihy:
    <input type="text" placeholder="Zadajte názov knihy" formControlName="name"/>
  </label>
  <label>
    Žáner:
    <input type="text" placeholder="Zadajte žáner knihy" formControlName="genre">
  </label>

  <button (click)="saveBook()"></button>
</form>

<table *ngIf="books.length">
  <tr>
    <th>Meno</th>
    <th>Priezvisko</th>
  </tr>
  <tr *ngFor="let book of books; let i = index">
    <td>{{book.name}}</td>
    <td>{{book.author}}</td>
    <td>{{book.genre}}</td>

  </tr>
</table>
