<table *ngIf="books!=null">
  <tr>
    <th>Meno autora</th>
    <th>Priezvisko autora</th>
    <th>Názov knihy</th>
    <th>ISBN</th>
    <th>Počet kníh</th>
    <th style="width: 20px"></th>
  </tr>
  <tr *ngFor="let i of books">
    <td>{{i.authorFirstName}}</td>
    <td>{{i.authorLastName}}</td>
    <td>{{i.title}}</td>
    <td>{{i.isbn}}</td>
    <td>{{i.count}}</td>
    <td>
      <button (click)="updateBook(i.id)">
        Upraviť
      </button>
      <button (click)="deleteBook(i.id)">
        Zmazať
      </button>
    </td>
  </tr>
</table>
