<form [formGroup]="form" (submit)="saveBook()"> <!-- PRESUNUTE -->
  <label>Meno autora:
    <input type="text" formControlName="authorFirstName" />
  </label>
  <label>Priezvisko autora:
    <input type="text" formControlName="authorLastName"/>
  </label>
  <label>Názov knihy:
    <input type="text" formControlName="title"/>
  </label>
  <label>ISBN:
    <input type="text" formControlName="isbn"/>
  </label>
  <label>Počet kníh:
    <input type="number" formControlName="count"/>
  </label>
  <button type="submit" [disabled]="form.invalid">Uložiť</button>
</form>
