<button (click)="changeMenu(menu.Users)">User</button>
<button (click)="changeMenu(menu.Books)">Books</button>
<button (click)="changeMenu(menu.Borrowings)">Borrow</button>

  <div *ngIf="currentMenu === menu.Users" >
    <button routerLink="user-page">
      User Page
    </button>
    <button routerLink="user-form">
      User Form
    </button>
    <button routerLink="user-list">
      User List
    </button>
  </div>

  <div *ngIf="currentMenu === menu.Books">
    <button routerLink="book-page">
      Book Page
    </button>
    <button routerLink="book-form">
      Book Form
    </button>
    <button routerLink="book-list">
      Book List
    </button>
  </div>

  <div *ngIf="currentMenu === menu.Borrowings">
    <button routerLink="borrowing-page">
      Borrow Page
    </button>
    <button routerLink="borrowing-form">
      Borrow Form
    </button>
    <button routerLink="borrowing-list">
      Borrower List
    </button>
  </div>

<router-outlet></router-outlet>
