<h1>{{title}}</h1>

<table *ngIf="borrowing">
  <tr>
    <th>Meno</th>
    <th>Kniha</th>
  </tr>
  <tr *ngFor="let borrow of borrowing; let i = index">
    <td>{{ borrow.borrowerName}}</td>
    <td>{{borrow.bookName}}</td>
  </tr>
</table>

<table *ngIf="knihy">
  <tr>
    <th>Autor</th>
    <th>Nazov</th>
  </tr>
  <tr *ngFor="let borrow of knihy; let i = index">
    <td>{{ borrow.author}}</td>
    <td>{{borrow.name}}</td>
  </tr>
</table>

<table *ngIf="people">
  <tr>
    <th>Meno</th>
    <th>Priezvisko</th>
  </tr>
  <tr *ngFor="let borrow of people; let i = index">
    <td>{{ borrow.surname}}</td>
    <td>{{borrow.name}}</td>
  </tr>
</table>
