*{
    background-color: lightgray;
}

.White{
  color: white;
  border-color: white;
}

.pl{
  padding-left: 4px;
}

.usersPage{
  display: none;
}

.books{
  display: none;
}

.borrowing{
  display: none;
}

.list{
  list-style: none;
}

.hodina{
}
